.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
*.log
tmp*

data/*
!data/.gitkeep

# 临时文件
data/tmp*
scratch/

models/*
!models/.gitkeep

plots/*
!plots/.gitkeep
