.venv/
vendor/
env/
lib/
get-pip.py
test_imports.py
__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
*.log
tmp*

/data
/analysis

# 临时文件
data/tmp*
scratch/

models/*
!models/.gitkeep

plots/*
!plots/.gitkeep
